
<div class="container">
  <div class="row">
    <div class="col-md-9" style="border-right: 1px solid #683ab6;">
      <div *ngIf="last_orders">
        <h1>С возвращением, повторить заказ?</h1>
        <div class="row">
          <div>
            <div class="col-md-4" style="border: 1px solid #683ab6;" *ngFor="let p of last_orders; let i='index'">
              <md-list class="row">
                <md-list-item class="col-md-12"  *ngFor="let g of p; let i='index'">
                  <img height="50px" [src]="g.imgUrl" alt=""/>
                  <span>{{ g.name }} -  {{ g.cost }} $ </span>
                </md-list-item>
                <button (click)="redOrder(p)" style="width: 100%;" color="primary" md-raised-button>Повторить</button>
              </md-list>
            </div>
          </div>
        </div>
      </div>

      <h1 *ngIf="last_orders">Добавить ещё в заказ</h1>
      <h1 *ngIf="!last_orders">Привет, это твой первый заказ!</h1>
      <div class="row">
        <md-list-item style="margin-bottom: 10px" class="col-md-4" *ngFor="let p of products">
          <md-card style="text-align: center">
            <img md-card-image [src]="p.imgUrl" alt="">
            <md-card-title>{{ p.name }}</md-card-title>
            <md-card-content>{{ p.cost }} $</md-card-content>
            <md-card-actions>
              <button (click)="addCard(p)" style="width: 100%;" color="primary" md-raised-button>Добавить</button>
            </md-card-actions>
          </md-card>
        </md-list-item>
      </div>
    </div>
    <div class="col-md-3" style="padding-left: 30px;">
      <h1>Ваш заказ</h1>

      <div class="row" *ngIf="products_in_cart.length == 0" >
        <span style="font-size: 16px; color: gray">Заказ пуст, выберите товар.</span>
      </div>
      <div class="row" *ngIf="products_in_cart.length > 0" >
        <div class="col-md-12" style="border: 1px solid #683ab6;">
          <md-list class="row">
            <md-list-item class="col-md-12" *ngFor="let p of products_in_cart; let i='index'">
              <img height="50px" [src]="p.imgUrl" alt=""/>
              <span>{{ p.name }} -  {{ p.cost }} $ </span>
              <i (click)="delCard(i)" class="material-icons md-18" style="float: right; padding-top: 15px;">delete</i>
            </md-list-item>
          </md-list>
        </div>
        <button (click)="by()" style="width: 100%;" color="primary" md-raised-button>КУПИТЬ</button>
      </div>
      <div class="row">
        <button (click)="back()" style="width: 100%; margin-top: 25px;" color="primary" md-raised-button>Выйти</button>
      </div>
    </div>
  </div>
</div>
