.welcome {
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: change-img linear 10s infinite;
  -webkit-transition-delay: 2s; /* Safari */
  transition-delay: 2s;
}

video {
  width: 500px;
}

.welcome__button {
}

@keyframes change-img {
  0% {
    background-image: url('/assets/img/banner_1.jpg');
  }
  50% {
    background-image: url('/assets/img/banner_2.jpg');
  }
  100% {
    background-image: url('/assets/img/banner_1.jpg');
  }
}
