<div class="welcome">

  <h1 style="
    color: white;
    margin-top: 0px;
    padding-top: 100px;">Привет! </h1>
  <h1 style="
    color: white;
    padding-bottom: 30px;;">Посмотри в камеру</h1>

  <video #video [srcObject]="videoSrc" (canplay)="onVideoLoad()"></video>
  <!-- <video [src]="videosrc" class="general__video"></video> -->
</div>
