
.general {
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: change-img linear 15s infinite;
}

video {
  right: 0;
  width: 300px;
  position: absolute;
}

.general__button{
  margin-top: 700px;
}

@keyframes change-img {
  0% {
    background-image: url('../assets/img/banner_1.jpg');
  }
  50% {
    background-image: url('../assets/img/banner_2.jpg');
  }
  100% {
    background-image: url('../assets/img/banner_1.jpg');
  }
}
