<div class="container">
  <div *ngIf="last_orders" class="row">
    <h1 style="text-align: center; padding-top: 100px">Выши заказы</h1>
      <md-list-item style="margin-bottom: 10px" class="col-md-4" *ngFor="let p of last_orders">
        <md-card style="text-align: center">
          <img md-card-image [src]="p.imgUrl" alt="">
          <md-card-title>{{ p.name }}</md-card-title>
          <md-card-content>{{ p.cost }} $</md-card-content>
          <md-card-actions>
            <button style="width: 100%;" color="primary" md-raised-button>Подробнее</button>
          </md-card-actions>
        </md-card>
      </md-list-item>
  </div>
</div>
