/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height:100%;
  background-color: #e5d5ff;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  padding: 50px;
  padding-top: 0px;
}
